
  <div class="new-user-form">
    <h3>S'inscrire sur Voisins de Compost</h3>
    <p>Si vous disposez déjà d'un compte citoyen, merci de créer votre compte Voisins de Compost avec la même addresse mail. </p>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true, placeholder: "email",
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true, placeholder: "mot de passe",
                    hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true, placeholder: "mot de passe",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :first_name, required: true, placeholder: "Prénom" %>
        <%= f.input :last_name, required: true, placeholder: "Nom" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "S'inscrire", class: "bouton-valid bleu" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
    <div class="user-form-line"></div>
  </div>

