<div class="admin-box">
  <div class="new-user-form">
    <h2>S'inscrire</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true, placeholder: "email",
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true, placeholder: "mot de passe",
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true, placeholder: "mot de passe",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :first_name, required: true, placeholder: "Prénom" %>
        <%= f.input :last_name, required: true, placeholder: "Nom" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "bouton-valid bleu" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
    <div class="user-form-line"></div>
  </div>
</div>
