<% if current_user.role == "admin" || current_user.role == "super_admin" %>
  <div class="admin-box">
    <h2>Messages à tous les sites de compostage</h2>
    <div class="messages-box">
      <div class="new-message">
        <h5 class="marg-vert">Ecrire un nouveau message</h5>
        <%= simple_form_for(@notification) do |f| %>
          <%= f.input :notification_type, as: :string, input_html: { value: "message-admin", type:"hidden" }%>
          <%= f.input :content, as: :text %>
          <%= f.submit "Valider le message", class: "signaler depot" %>
        <% end %>
      </div>
      <div class="current-message">
        <h5 class="marg-vert">Message visible en ce moment</h5>
        <div class="message-list">
          <div class="notification-card notification-card-admin notif-admin-view">
          <% if @notification_last %>
            <div class="notif-content"><%= @notification_last.content %></div>
            <div class="notif-since">Il y a <%= distance_of_time_in_words(Time.now, @notification_last.created_at) %></div>
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <h5 class="marg-vert">Archive des messages aux composteurs</h5>
    <div class="admin-list">
      <% if @notifications %>
        <% @notifications.each do |notification| %>
          <div class="notification-card notification-card-admin notif-admin-view">
            <div class="notif-content"><%= notification.content %></div>
            <div class="notif-since">Il y a <%= distance_of_time_in_words(Time.now, notification.created_at) %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  Bah alors
<% end %>

