<div class="navbar-poub-bat">
  <%= link_to root_path, class: "home-link" do %>
    <img class="logo" src="<%= image_path('PB_logo.png') %>"/>
    <div class="poubelles-title">
      <h1>Poubelles</h1>
      <h1>Battle</h1>
    </div>
  <% end %>

  <div class="all-the-buttons">
    <%#= link_to "Bourse Verte", donverts_path, class: "bouton-navbar" %>

    <li class="dropdown align-self-center d-sm-block mr-3">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <div class="dropdown-toggle border-none" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Les sites de compostage
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to "Cartographie des composteurs", admin_composteurs_path(anchor: "carto"), class: "dropdown-item" %>
            <%= link_to "Contacter tous les sites de compostages", admin_notifications_path, class: "dropdown-item" %>
            <%= link_to "Ajouter un nouveau composteur", new_admin_composteur_path, class: "dropdown-item" %>
            <%= link_to "Suivre les demandes d'installation", admin_demandes_path, class: "dropdown-item"  %>
            <%= link_to "Annuaire et exports contacts", admin_annuaire_path, class: "dropdown-item" %>
            <%= link_to "Liste des annonces de dons verts", donverts_path, class: "dropdown-item" %>
            <%= link_to "Poubelles Battle en chiffres", stats_path, class: "dropdown-item" %>
          </div>
        <% else %>
          <div class="dropdown-toggle border-none" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Je veux composter
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to "Trouver un composteur près de chez moi", root_path(anchor: "carto"), class: "dropdown-item" %>
            <%= link_to "Demander l'installation d'un composteur collectif", new_demande_path, class: "dropdown-item" %>
            <%= link_to "Trouver du compost, du structurant, des outils", donverts_path, class: "dropdown-item" %>
            <%= link_to "Qu'est-ce que je peux mettre au compost ?", composter_ou_non_path, class: "dropdown-item" %>
            <%= link_to "Conseils et astuces pour composter en co-propriété", 'https://uncomposteurici.gitbook.io/poubellesbattle/', target: "_blank", class: "dropdown-item" %>
            <%= link_to "S'auto-former au compostage", 'https://www.ademe.fr/sites/default/files/assets/documents/guide-pratique-compostage-et-paillage.pdf', target: "_blank", class: "dropdown-item" %>
          </div>
        <% end %>
      <% else %>
        <div class="dropdown-toggle border-none" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Je veux composter
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to "Trouver un composteur près de chez moi", root_path(anchor: "carto"), class: "dropdown-item" %>
          <%= link_to "Demander l'installation d'un composteur collectif", new_demande_path, class: "dropdown-item" %>
          <%= link_to "Trouver du compost, du structurant, des outils", donverts_path, class: "dropdown-item" %>
          <%= link_to "Qu'est-ce que je peux mettre au compost ?", composter_ou_non_path, class: "dropdown-item" %>
          <%= link_to "Conseils et astuces pour composter en co-propriété", 'https://uncomposteurici.gitbook.io/poubellesbattle/', target: "_blank", class: "dropdown-item" %>
          <%= link_to "S'auto-former au compostage", 'https://www.ademe.fr/sites/default/files/assets/documents/guide-pratique-compostage-et-paillage.pdf', target: "_blank", class: "dropdown-item" %>
        </div>
      <% end %>
    </li>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
        <% else %>
          <li class="dropdown align-self-center d-sm-block mr-3">
            <div class="dropdown-toggle border-none" id="dropdownMenuApropos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                A propos
              </div>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuApropos">
                <%= link_to "S'inscrire à la newsletter", root_path(anchor:"newsletter"), class: "dropdown-item" %>
                <%= link_to "A propos de Poubelles Battle", "https://beta.gouv.fr/startups/poubelles-battle.html", target: "_blank", class: "dropdown-item" %>
                <%= link_to "Poubelles Battle en chiffres", stats_path, class: "dropdown-item" %>
              </div>
            </li>
        <% end %>
        <% else %>
        <li class="dropdown align-self-center d-sm-block mr-3">
          <div class="dropdown-toggle border-none" id="dropdownMenuApropos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            A propos
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuApropos">
            <%= link_to "S'inscrire à la newsletter", root_path(anchor:"newsletter"), class: "dropdown-item" %>
            <%= link_to "A propos de Poubelles Battle", "https://beta.gouv.fr/startups/poubelles-battle.html", target: "_blank", class: "dropdown-item" %>
            <%= link_to "Poubelles Battle en chiffres", stats_path, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    <li class="dropdown align-self-center d-sm-block mr-3">
      <div class="dropdown-toggle border-none" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mon espace
      </div>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton2">
        <% if user_signed_in? %>
          <% if current_user.composteur_id != nil %>
            <%= link_to "Mon Composteur", composteur_path(current_user.composteur_id), class: "dropdown-item"  %>
          <% end %>
          <% if Demande.find_by(email: current_user.email) != nil %>
            <% demande = Demande.find_by(email: current_user.email) %>
            <%= link_to "Ma demande", suivre_path(demande), class: "dropdown-item" %>
          <% end %>
          <% if current_user.donverts != [] %>
            <%= link_to "Historique de mes dons", mes_dons_path, class: "dropdown-item"  %>
          <% end %>
          <%= link_to "Modifier mon profil", edit_user_registration_path(current_user), class: "dropdown-item"  %>
          <%= link_to "Me deconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% else %>
          <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </li>
    <% if user_signed_in? %>
      <% if current_user.photo.attached? %>
        <%= link_to edit_user_registration_path(current_user) do  %>
          <%= cl_image_tag current_user.photo.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
        <% end %>
      <% else %>
        <%= link_to edit_user_registration_path(current_user) do  %>
          <%= image_tag "PB_logo.png", alt: "default avatar", class: "avatar" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

