<div class="navbar-poub-bat">
  <div class="navbar-poub-bat-left">
  <%= link_to 'https://www.pau.fr', rel:"noopener", target: '_blank' do %>
    <img class="logo" alt="logo agglomération de Pau" src="<%= image_path('agglopau.png') %>"/>
  <% end %>
  <%= link_to root_path, class: "home-link" do %>
    <div class="poubelles-title">
      <h1>Défi Compost</h1>
    </div>
  <% end %>
  </div>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
    <div class="admin-navbar-name">
      <h5>espace admin</h5>
    </div>
    <% end %>
  <% end %>
  <div class="all-the-buttons">
    <%#= link_to "Bourse Verte", donverts_path, class: "bouton-navbar" %>

    <li class="dropdown align-self-center d-sm-block nav-space-btw">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <div class="dropdown-toggle border-none" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mes actions
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to "Ajouter un nouveau composteur", new_admin_composteur_path, class: "dropdown-item" %>
            <%= link_to "Voir tous les sites de compostage", admin_composteurs_path(anchor: "composter"), class: "dropdown-item" %>
            <%= link_to "Contacter tous les sites", admin_notifications_path, class: "dropdown-item" %>
            <%= link_to "Suivre les demandes d'installation", admin_demandes_path, class: "dropdown-item"  %>
            <%= link_to "Annuaire et exports contacts", admin_annuaire_path, class: "dropdown-item" %>
            <%= link_to "Liste des annonces de dons verts", donverts_path, class: "dropdown-item" %>
            <%= link_to "Poubelles Battle en chiffres", stats_path, class: "dropdown-item" %>
          </div>
        <% else %>
          <div class="dropdown-toggle border-none" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Je veux composter
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to "Trouver un composteur près de chez moi", root_path(anchor: "composter"), class: "dropdown-item" %>
            <%= link_to "Demander l'installation d'un composteur collectif", new_demande_path, class: "dropdown-item" %>
            <%= link_to "Trouver du compost, du structurant, des outils", donverts_path, class: "dropdown-item" %>
            <%= link_to "Qu'est-ce que je peux mettre au compost ?", composter_ou_non_path, class: "dropdown-item" %>
            <%= link_to "Que faire de mes déchets non compostables ?", 'Lien vers autre déchet Pau : https://www.pau.fr/rechercher/dechet?_source=user', rel:"noopener", target: "_blank", class: "dropdown-item" %>
            <%= link_to "Conseils et astuces pour composter en co-propriété", 'https://uncomposteurici.gitbook.io/poubellesbattle/', rel:"noopener", target: "_blank", class: "dropdown-item" %>
            <%= link_to "S'auto-former au compostage", 'https://www.ademe.fr/sites/default/files/assets/documents/guide-pratique-compostage-et-paillage.pdf', rel:"noopener", target: "_blank", class: "dropdown-item" %>
          </div>
        <% end %>
      <% else %>
        <div class="dropdown-toggle border-none" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Je veux composter
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to "Trouver un composteur près de chez moi", root_path(anchor: "composter"), class: "dropdown-item" %>
          <%= link_to "Demander l'installation d'un composteur collectif", new_demande_path, class: "dropdown-item" %>
          <%= link_to "Trouver du compost, du structurant, des outils", donverts_path, class: "dropdown-item" %>
          <%= link_to "Qu'est-ce que je peux mettre au compost ?", composter_ou_non_path, class: "dropdown-item" %>
          <%= link_to "Que faire de mes déchets non compostables ?", 'Lien vers autre déchet Pau : https://www.pau.fr/rechercher/dechet?_source=user', rel:"noopener", target: "_blank", class: "dropdown-item" %>
          <%= link_to "Conseils et astuces pour composter en co-propriété", 'https://uncomposteurici.gitbook.io/poubellesbattle/', rel:"noopener", target: "_blank", class: "dropdown-item" %>
          <%= link_to "S'auto-former au compostage", 'https://www.ademe.fr/sites/default/files/assets/documents/guide-pratique-compostage-et-paillage.pdf', rel:"noopener", target: "_blank", class: "dropdown-item" %>
        </div>
      <% end %>
    </li>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
        <% else %>
          <li class="dropdown align-self-center d-sm-block nav-space-btw">
            <div class="dropdown-toggle border-none" id="dropdownMenuApropos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                A propos
              </div>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuApropos">
                <%= link_to "S'inscrire à la newsletter", root_path(anchor:"newsletter"), class: "dropdown-item" %>
                <%= link_to "A propos de Poubelles Battle", "https://beta.gouv.fr/startups/poubelles-battle.html", rel:"noopener", target: "_blank", class: "dropdown-item" %>
                <%= link_to "Poubelles Battle en chiffres", stats_path, class: "dropdown-item" %>
              </div>
            </li>
        <% end %>
        <% else %>
        <li class="dropdown align-self-center d-sm-block nav-space-btw">
          <div class="dropdown-toggle border-none" id="dropdownMenuApropos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            A propos
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuApropos">
            <%= link_to "S'inscrire à la newsletter", root_path(anchor:"newsletter"), class: "dropdown-item" %>
            <%= link_to "A propos de Poubelles Battle", "https://beta.gouv.fr/startups/poubelles-battle.html", rel:"noopener", target: "_blank", class: "dropdown-item" %>
            <%= link_to "Poubelles Battle en chiffres", stats_path, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    <li class="dropdown align-self-center d-sm-block nav-space-btw">
      <div class="dropdown-toggle border-none" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mon espace
      </div>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton2">
        <% if user_signed_in? %>
          <% if current_user.composteur_id != nil %>
            <%= link_to "Mon Composteur", composteur_path(current_user.composteur), class: "dropdown-item"  %>
          <% end %>
          <% if Demande.find_by(email: current_user.email) != nil %>
            <% demande = Demande.find_by(email: current_user.email) %>
            <% if demande.status != 'archivée' %>
              <%= link_to "Ma demande", suivre_path(demande), class: "dropdown-item" %>
            <% end %>
          <% end %>
          <% if current_user.donverts != [] %>
            <%= link_to "Historique de mes dons", mes_dons_path, class: "dropdown-item"  %>
          <% end %>
          <%= link_to "Modifier mon profil", edit_user_registration_path(current_user), class: "dropdown-item"  %>
          <%= link_to "Me deconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% else %>
          <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </li>
  </div>
</div>

