



<div class="admin-box">
  <div class="stat-flex-container">
    <div class="stat-graph">
      <div class="stat-graph-title">
        <h5>Evolution des inscriptions</h5>
        <p><%= @this_month_full.capitalize %> : <%= @users_count %> - Objectif <%= @next_month.capitalize %> : <%= @users_count * 2 %></p>
      </div>
      <div class="stat-graph-chart">
        <%= line_chart @users_stats, @options %>
      </div>
    </div>
    <div class="stat-graph">
      <div class="stat-graph-title">
        <h5>Evolution des installations de site de compostage</h5>
        <p><%= @this_month_full.capitalize %> : <%= @composteurs_count %> - Objectif <%= @next_month.capitalize %> : <%= @composteurs_count + 10 %></p>
      </div>
      <div class="stat-graph-chart">
        <%= line_chart @composteurs_stats, @options %>
      </div>
    </div>
    <% @stats.each do |stat| %>
      <div class="stat-card <%= stat[0] %>">
        <div class="stat-title">
          <%= stat[1] %>
        </div>
        <div class="stat-number"><%= stat[0].to_s.include?("percent") ? "+ #{stat[2]} %" : "#{stat[2]}" %></div>
      </div>
    <% end %>
  </div>
</div>
