<div class="admin-box">
  <div class="stat-flex-container">
    <% @stats.each do |stat| %>
      <div class="stat-card <%= stat[0] %>">
        <div class="stat-title">
          <%= stat[1] %>
        </div>
        <div class="stat-number"><%= stat[0].to_s.include?("percent") ? "+ #{stat[2]} %" : "#{stat[2]}" %></div>
      </div>
    <% end %>

    <!-- <div class="stat-card">
      <div class="stat-title">
        Nombre de compost'lovers
      </div>
      <div class="stat-number"><%= @users_count %></div>
    </div>
    <div class="stat-card">
      <div class="stat-title">
        Nombre de compost'lovers avant le mois en cours
      </div>
      <div class="stat-number"><%= @users_last_month %></div>
    </div>
    <div class="stat-card">
      <div class="stat-title">
        Evolution since le mois dernier
      </div>
      <div class="stat-number">+ <%= @users_evol %> %</div>
    </div>
    <div class="stat-card">
      <div class="stat-title">
        Nombre de site de compostage
      </div>
      <div class="stat-number"><%= @composteurs_count %></div>
    </div>
    <div class="stat-card">
      <div class="stat-title">
        Nombre de sites le mois dernier
      </div>
      <div class="stat-number"><%= @composteurs_last_month %></div>
    </div>
    <div class="stat-card">
      <div class="stat-title">
        Evolution since le mois dernier
      </div>
      <div class="stat-number">+ <%= @composteurs_evol %> %</div>
    </div>
    <div class="stat-card">
      <div class="stat-title">
        Nombre d'inscrit•e•s par site
      </div>
      <div class="stat-number"><%= @users_per_composteur %></div>
    </div>
    <div class="stat-card">
      <div class="stat-title">
        Nombre de dons proposés sur la Bourse Verte
      </div>
      <div class="stat-number"><%= @donverts_count %></div>
    </div>
    <div class="stat-card">
      <div class="stat-title">
        Volume total de matières données
      </div>
      <div class="stat-number"><%= @volume_total %> L</div>
    </div>
    <div class="stat-card">
      <div class="stat-title">
        Volume total de matières données
      </div>
      <div class="stat-number"><%= @volume_total %> L</div>
    </div>
    <div class="stat-card">
      <div class="stat-title">
        Volume total de matières données
      </div>
      <div class="stat-number"><%= @volume_total %> L</div>
    </div> -->
  </div>
</div>
