<div class="composteur-box">
  <div class="composteur-left">
    <% if current_user.composteur_id == @composteur.id && current_user.role == "référent" %>
      <%= link_to "modifier", edit_composteur_path(@composteur), class: "bouton-navbar" %>
    <% end %>
    <h1><%= @composteur.name %></h1>
    <p><%= @composteur.address %></p>
    <p><%= @composteur.composteur_type %></p>
    <% if @composteur.photo.attached? %>
      <%= cl_image_tag @composteur.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <div class="stats">
      <div class="users-count">
        Déjà <%= @users.count %> personnes utilisent ce composteur !
      </div>
    </div>
    <div class="les-users">
      <% @users.each do |user| %>
        <div class="user-card" style="<% if user.role == "référent"%><%=  'background: darkorange' %><% end %>">
          <%= user.first_name %>
        </div>
      <% end %>
    </div>
    <div class="depot-anomalie">
      <%= simple_form_for(@notification) do |f| %>
        <%= f.input :notification_type, as: :string, input_html: { value: "depot", type:"hidden" }%>
        <%= f.input :content, as: :string, input_html: { value: "#{current_user.first_name} vient de faire un dépot !", type:"hidden" }%>
        <%= f.submit "J'ai fais un dépot !", class: "signaler depot" %>
      <% end %>
      <%= simple_form_for(@notification) do |f| %>
        <%= f.input :notification_type, as: :string, input_html: { value: "anomalie", type:"hidden" }%>
        <%= f.input :content, as: :string, input_html: { value: "Oh non.. on vient de nous signaler une anomalie..", type:"hidden" }%>
        <%= f.submit "Signaler une anomalie ...", class: "signaler anomalie" %>
      <% end %>
    </div>
    <% @notifications.each do |notification| %>
      <% if notification.notification_type == "welcome" || notification.notification_type == "depot" || notification.notification_type == "anomalie" %>
        <div class="notification-card <%= notification.notification_type %>">
          <div class="notif-content"><%= notification.content %></div>
          <div class="notif-since">Il y a <%= ((Time.now - notification.created_at)/60).round %> minutes</div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="composteur-right">
    <div class="les-referents">
      <% @referents.each do |referent| %>
        <div class="referent-card">
        <div class="star">⭐️</div>
          <div class="referent-profile">
            <h5><%= referent.first_name %></h5>
            <% if referent.ok_phone %>
              <p><%= referent.phone_number %></p>
            <% end %>
            <% if referent.ok_mail %>
              <%= mail_to referent.email, "✉️", subject: "Votre composteur m'intéresse !", class: "email-button" %>
            <% end %>
            <% if current_user.role != "référent" && @messages_notifications != nil %>
              <% if @messages_notifications != nil %>
                <div class="notification-card <%= @messages_notifications.notification_type %>">
                  <p><%= @messages_notifications.content %></p>
                </div>
              <% end %>
            <% else %>
              <%= simple_form_for(@notification) do |f| %>
                <%= f.input :notification_type, as: :string, input_html: { value: "message-ref", type:"hidden" }%>
                <%= f.input :content %>
                <%= f.submit "Laisser un message à mes co-composteurs !", class: "signaler depot" %>
              <% end %>
              <% if @messages_notifications != nil %>
                <div class="notification-card <%= @messages_notifications.notification_type %>">
                  <p><%= @messages_notifications.content %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="les-messages">
    </div>
  </div>
</div>
