<div class="composteur-box">
  <div id="topReferentAggloCollapse">
    <button class="btn btn-to-referent-collapse" type="button" data-toggle="collapse" data-target="#collapseReferentAgglo" aria-expanded="false" aria-controls="collapseExample">
      Plus d'infos
    </button>

    <div class="collapse" id="collapseReferentAgglo">
      <div class="card card-body">
        <% if user_signed_in? == false %>
          <div class="composteur-registration-form">
            <%= render "devise/registrations/new" %>
          </div>
        <% end %>
        <div class="les-referents white-bg">
          <div class="becoming-or-not-referent">
            <% if user_signed_in? %>
              <% if current_user.role != "admin" %>
                <% if current_user.composteur_id == @composteur.id && current_user.role == nil %>
                  <div class="dropdown-form-referent">
                    <div class="referent-action-toggle">
                      <% if current_user.notifications.where(notification_type: "demande-référent").count < 1 %>
                        <%= link_to("devenir référent", referent_path(@composteur), method: :post) %>
                      <% end %>
                    </div>
                  </div>
                  <!-- link to me désinscrire --->
                <% elsif current_user.composteur_id == @composteur.id && current_user.role == "référent" %>
                  <div class="dropdown-form-referent">
                    <div class="referent-action-toggle">
                      <%= link_to("ne plus être référent", non_referent_path(@composteur), method: :post) %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <h3><%= inclusive_pluralize(@referents.count, 'Référent•e', '•s') %></h3>
          <%= link_to "C'est quoi être référent•e ?", "https://uncomposteurici.gitbook.io/poubellesbattle/convaincre-son-assemblee-generale-de-copropriete-dinstaller-un-composteur-en-pied-dimmeuble/le-role-de-referent-e-composteur", class: "ref-quoi" %>
          <% if @referents.count != 0 %>
            <% @referents.each do |referent| %>
              <div class="referent-card">
              <!-- <div class="star">⭐️</div> -->
                <!-- <div class="referent-profile"> -->
              <% if user_signed_in? %>
                <% if current_user.role == "admin" %>
                  <div class="mini-btn"><%= link_to("retirer ce référent", non_referent_path(@composteur, referent_id: referent), method: :post) %></div>
                <% end %>
              <% end %>
              <h5 class="first-name is-referent-bg"><%= referent.first_name %></h5>
              <% if user_signed_in? %>
                <% if referent.ok_phone == true %>
                  <p class="phone-number"><%= referent.phone_number %></p>
                <% end %>

                <% if referent.ok_mail == true %>
                  <div class="dropdown dropdown-form-referent dropdown-mail-to">
                    <button class="btn referent-mail-to-toggle" type="button" id="dropdownContact-<%= referent.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Me contacter
                    </button>
                    <div class="dropdown-menu referent-composteur-action" aria-labelledby="dropdownContact-<%= referent.id %>">
                      <p><%= referent.first_name %> recevra votre message par mail.</p>
                      <%= simple_form_for @message do |f| %>
                        <%= f.input :recipient_id, input_html: { value: "#{referent.id}", type: "hidden"} %>
                        <%= f.input :sender_email, input_html: { value: "#{current_user.email}", type: "hidden"} %>
                        <%= f.input :sender_full_name, input_html: { value: "#{current_user.first_name} #{current_user.last_name}", type: "hidden"} %>
                        <%= f.input :message_type, input_html: { value: "message-to-referent", type: "hidden"} %>
                        <%= f.input :content, as: :text, placeholder: "Votre message..." %>
                        <div class="center-form-submit"><%= f.submit "envoyer", class: "don-form-btn" %></div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% if user_signed_in? %>
                <% if current_user.role == "référent" && current_user == referent %>
                  <%= simple_form_for(@notification) do |f| %>
                    <%= f.input :notification_type, as: :string, input_html: { value: "message-ref", type:"hidden" }%>
                    <%= f.input :content, as: :text, placeholder: "modifier mon message de présentation..." %>
                    <%= f.submit "Enregistrer", class: "message-form-ref" %>
                  <% end %>
                  <% if @messages_notifications != nil && referent.notifications.where(notification_type: "message-ref") != [] %>
                    <div class="notification-card <%= @messages_notifications.notification_type %>">
                      <p>"<%= referent.notifications.where(notification_type: "message-ref").last.content %>"</p>
                    </div>
                  <% end %>
                <% else %>
                  <% if @messages_notifications != nil && referent.notifications.where(notification_type: "message-ref") != [] %>
                    <div class="notification-card <%= @messages_notifications.notification_type %>">
                      <p>"<%= referent.notifications.where(notification_type: "message-ref").last.content %>"</p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="referent-card no-ref">Pas de référent•e•s sur ce site de compostostage pour l'instant ..
            </div>
          <% end %>
        </div>

        <div class="les-messages">
          <h3 class="marg-vert-bottom">Message de l'Agglo</h3>
          <% if @messages_admin %>
            <div class="message-date"><%= l @messages_admin.created_at, format: ("Le %d %B %Y") %></div>
            <div class="message-content"><%= @messages_admin.content %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="composteur-left">
    <div class="actions-list">
    <% if user_signed_in? %>
      <div class="referent-composteur-actions">
        <% if current_user.composteur_id == @composteur.id && current_user.role == "référent" %>
          <div class="dropdown dropdown-form-referent">
            <button class="btn referent-action-toggle" type="button" id="dropdownContact-members" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ecrire à mes Co-Composteur•euse•s
            </button>
            <div class="dropdown-menu referent-composteur-action" aria-labelledby="dropdownContact-members">
              <p>En tant que référent•e vous pouvez écrire des messages à tou•te•s les membres de <%= @composteur.name %>! Les membres recevront votre message par mail.</p>
              <%= simple_form_for @message do |f| %>
                <%= f.input :sender_email, input_html: { value: "#{current_user.email}", type: "hidden"} %>
                <%= f.input :sender_full_name, input_html: { value: "#{current_user.first_name} #{current_user.last_name}", type: "hidden"} %>
                <%= f.input :message_type, input_html: { value: "message-membres", type: "hidden"} %>
                <%= f.input :content, as: :text, placeholder: "Votre message..." %>
                <div class="center-form-submit"><%= f.submit "envoyer", class: "don-form-btn" %></div>
              <% end %>
            </div>
          </div>
          <div class="dropdown dropdown-form-referent">
            <button class="btn referent-action-toggle" type="button" id="dropdownContact-agglo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ecrire à l'Equipe Poubelles Battle
            </button>
            <div class="dropdown-menu referent-composteur-action" aria-labelledby="dropdownContact-agglo">
              <p>En tant que référent•e vous pouvez écrire directement à l'Equipe Poubelles Battle. Votre message arrivera dans notre directement dans notre boîte mail.</p>
              <%= simple_form_for @message do |f| %>
                <%= f.input :sender_email, input_html: { value: "#{current_user.email}", type: "hidden"} %>
                <%= f.input :sender_full_name, input_html: { value: "#{current_user.first_name} #{current_user.last_name}", type: "hidden"} %>
                <%= f.input :message_type, input_html: { value: "message-agglo", type: "hidden"} %>
                <%= f.input :content, as: :text, placeholder: "Votre message..." %>
                <div class="center-form-submit"><%= f.submit "envoyer", class: "don-form-btn" %></div>
              <% end %>
            </div>
          </div>
          <div class="dropdown dropdown-form-referent">
            <button class="btn referent-action-toggle" type="button" id="dropdownActions-retournement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Date de retournement
            </button>
            <div class="dropdown-menu referent-composteur-action" aria-labelledby="dropdownActions-retournement">
              <p>En tant que référent•e vous pouvez modifier la date de retournement estimée du compost. Cette date sert à calculer le remplissage de la jauge en dessous.</p>
              <%= simple_form_for @composteur do |f| %>
                <%= f.input :date_retournement, placeholder: "date de retournement :", as: :string, required: false, input_html: {class: "datepicker"} %>
                <div class="center-form-submit"><%= f.submit "mettre à jour", class: "don-form-btn" %></div>
              <% end %>
            </div>
          </div>
          <div class="dropdown dropdown-form-referent">
            <button class="btn referent-action-toggle" type="button" id="dropdownActions-photo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Modifier la photo
            </button>
            <div class="dropdown-menu referent-composteur-action" aria-labelledby="dropdownActions-photo">
              <p>En tant que référent•e vous pouvez modifier la modifier la photo de votre site de compostage.</p>
              <%= simple_form_for @composteur do |f| %>
                <%= f.input :photo, as: :file %>
                <div class="center-form-submit"><%= f.submit "mettre à jour", class: "don-form-btn" %></div>
              <% end %>
            </div>
          </div>
        <!-- </div> -->
      <% end %>
      <% if current_user.role == "admin" %>
        <!-- <div class="referent-composteur-actions"> -->
          <div class="dropdown-form-referent">
            <div class="referent-action-toggle">
              <%= link_to "modifier", edit_composteur_path(@composteur) %>
            </div>
          </div>
        <!-- </div> -->
      <% elsif (current_user.role == nil || current_user.role == "référent") && (current_user.composteur_id == nil || current_user.composteur_id == @composteur.id) %>
        <!-- <div class="referent-composteur-actions"> -->
          <div class="dropdown-form-referent">
            <div class="referent-action-toggle">
              <% if current_user.composteur_id == nil %>
                <%= link_to("m'inscrire sur ce site !", inscription_path(@composteur), method: :post) %>
              <% elsif current_user.composteur_id == @composteur.id %>
                <%= link_to("me désinscrire", desinscription_path(@composteur), method: :post) %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
    <h1 class="composteur-name"><%= @composteur.name %></h1>
    <p class="composteur-adress"><%= @composteur.category %> : <%= @composteur.address %></p>
   <!--  <p class="composteur-type"></p> -->
    <%# if @last_anomalie %>
      <!-- <p>Déjà <%#= distance_of_time_in_words(Time.now, @last_anomalie.created_at) %> depuis la dernière anomalie !</p> -->
    <%# end %>
    <div class="banner-composteur-img-stats">
      <% if @composteur.photo.attached? %>
        <%= cl_image_tag @composteur.photo.key, width: 600, crop: :fill, class: "composteur-photo" %>
      <% else %>
        <%= image_tag 'PB_logo.png', class: "composteur-photo" %>
      <% end %>
      <div class="stats">
        <div class="users-count">
          <% if @users.count == 0 %>
            <p class="users_stat_info">Personne n'est inscrit sur ce site de compostage pour l'instant...</p>
          <% elsif @users.count > 0 %>
          <div class="users-stat-number"><%= @users.count %></div>
          <p class="users-stat-info"><%= "adepte".pluralize(@users.count) %> du compostage !</p>
          <% end %>
        </div>
        <div class="composteur-score">
          <div class="users-stat-number"><%= @score %></div>
          <p class="users-stat-info"><%= "point".pluralize(@score) %> PB !</p>
        </div>
        <div class="composteur-depot-count">
          <div class="users-stat-number"><%= @depots_count %></div>
          <p class="users-stat-info"><%= "dépot".pluralize(@depots_count) %> !</p>
        </div>
      </div>
    </div>
    <div class="les-users">
      <% @reversed_referents.each do |user| %>
        <div class="user-card">
          <%#= ["🧅","🍌","🥦","🍎","🥨","🥖","🍁","🌼"].sample <%>
          <p class="user-first-name is-referent-bg"><%= user.first_name %></p>
          <p class="round-counter"><%= user.notifications.count %></p>
        </div>

      <% end %>
      <% @not_referents.each do |user| %>
        <div class="user-card">
          <%#= ["🧅","🍌","🥦","🍎","🥨","🥖","🍁","🌼"].sample %>
          <p class="user-first-name"><%= user.first_name %></p>
          <p class="round-counter"><%= user.notifications.count %></p>
        </div>
      <% end %>

    </div>
      <!-- <p>Plus que <%#= Time.now - @composteur.installation_date.to_time %> jours avant que le compost soit prêt !</p> -->
      <% if @time_left > 0 %>
        <p>Plus que <%= @time_left %> jours avant que le compost soit prêt !</p>
      <% elsif @time_left == 0 %>
        <p>On dirait que la date du retournement du compost est arrivée !</p>
      <% else %>
        <p>Est-ce que la date de retournement est passée ?</p>
      <% end %>
    <div class="compost-time-to-go">
      <div class="compost-time-past" style="
        <% if @time_left %>
            <%= "width: #{100 - @time_left/2}%;" %>
        <% end %> ">
      </div>

    </div>
    <% if user_signed_in? %>
      <% if current_user.composteur_id == @composteur.id || current_user.role == "admin" %>
        <h2 class="mt-5">Messagerie</h2>
        <p class="legende">cet espace privé vous permet d'échanger avec les autres membres du site de compostage.</p>
        <% if current_user.role != "admin" %>
          <div class="depot-anomalie">
            <%= simple_form_for @notification, html: { class: "depot-form"} do |f| %>
              <%= f.input :notification_type, as: :string, input_html: { value: "depot", type:"hidden" }%>
              <%= f.input :content, as: :string, input_html: { value: "#{current_user.first_name} vient de faire un dépot !", type:"hidden" }%>
              <%= f.submit "J'ai fait un dépot !", class: "signaler depot" %>
            <% end %>
            <%= simple_form_for @notification, html: { class: "anomalie-form"} do |f| %>
              <%= f.input :notification_type, as: :string, input_html: { value: "anomalie", type:"hidden" }%>
              <%= f.input :content, collection: ["couvercle absent/ouvert", "outil manquant", "matière non compostable dans le bac", "bac trop plein", "bac trop sec", "bac trop humide", "composteur cassé", "manque de structurant"] %>
              <%= f.submit "Signaler une anomalie ...", class: "signaler anomalie" %>
            <% end %>
          </div>
          <div class="message-form">
            <%= simple_form_for @notification, html: { class: "message-form-flex"} do |f| %>
              <%= f.input :notification_type, as: :string, input_html: { value: "message", type:"hidden" }%>
              <%= f.input :content, as: :text, placeholder: "Ecrivez ici pour discuter avec les membres de #{@composteur.name}..",  class: "message-form-content-input"%>
              <%= f.submit "Envoyer", class: "mini-btn mini-banana-btn signaler" %>
            <% end %>
          </div>
        <% end %>
        <div class="message-board">
          <% @notifications.each do |notification| %>
            <% if notification.notification_type == "welcome" || notification.notification_type == "depot" || notification.notification_type == "anomalie" || notification.notification_type == "message" %>
              <% if notification.user_id != current_user.id || notification.notification_type == "anomalie" %>
                <div class="notif-block">
                  <div class="notif-filler"></div>
                  <div class="notif-with-name">
                    <div class="notif-username name-right">
                      <% if notification.notification_type == "anomalie" %>
                        <% if notification.resolved %>
                          anomalie résolue par votre référent•e préféré•e ! 🤿
                        <% else %>
                          <% if current_user.role == "référent" %>
                            <div class="resolving-btn">
                              <%= link_to("#{current_user.first_name}, cliquez ici si l'anomalie est résolue ! 🙂", resolved_path(notification), method: :post) %>
                            </div>
                          <% end %>
                        <% end %>
                      <% else %>
                        <%= notification.user.first_name %>
                      <% end %>
                    </div>
                    <div class="notification-card notification-card-current-user <%= notification.notification_type %>">
                      <div class="notif-content"><p><%= notification.content %></p></div>
                      <div class="notif-since">Il y a <%= distance_of_time_in_words(Time.now, notification.created_at) %></div>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="notif-block">
                  <div class="notif-with-name">
                    <div class="notif-username name-left">Moi</div>
                    <div class="notification-card <%= notification.notification_type %>">
                      <% if notification.notification_type == "depot" %>
                        <div class="notif-content"><p>Je viens de faire un dépot ! 👌 </p></div>
                      <% else %>
                        <div class="notif-content"><p><%= notification.content %></p></div>
                      <% end %>
                      <div class="notif-since">Il y a <%= distance_of_time_in_words(Time.now, notification.created_at) %></div>
                    </div>
                  </div>
                  <div class="notif-filler"></div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>



  <div class="composteur-right">
    <% if user_signed_in? == false %>
      <div class="composteur-registration-form">
        <%= render "devise/registrations/new" %>
      </div>
    <% end %>
    <div class="les-referents white-bg">
      <div class="becoming-or-not-referent">
        <% if user_signed_in? %>
          <% if current_user.role != "admin" %>
            <% if current_user.composteur_id == @composteur.id && current_user.role == nil %>
              <div class="dropdown-form-referent">
                <div class="referent-action-toggle">
                  <% if current_user.notifications.where(notification_type: "demande-référent").count < 1 %>
                    <%= link_to("devenir référent", referent_path(@composteur), method: :post) %>
                  <% end %>
                </div>
              </div>
              <!-- link to me désinscrire --->
            <% elsif current_user.composteur_id == @composteur.id && current_user.role == "référent" %>
              <div class="dropdown-form-referent">
                <div class="referent-action-toggle">
                  <%= link_to("ne plus être référent", non_referent_path(@composteur), method: :post) %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <h3><%= inclusive_pluralize(@referents.count, 'Référent•e', '•s') %></h3>
      <%= link_to "C'est quoi être référent•e ?", "https://uncomposteurici.gitbook.io/poubellesbattle/convaincre-son-assemblee-generale-de-copropriete-dinstaller-un-composteur-en-pied-dimmeuble/le-role-de-referent-e-composteur", class: "ref-quoi" %>
      <% if @referents.count != 0 %>
        <% @referents.each do |referent| %>
          <div class="referent-card">
          <!-- <div class="star">⭐️</div> -->
            <!-- <div class="referent-profile"> -->
              <% if user_signed_in? %>
                <% if current_user.role == "admin" %>
                  <div class="mini-btn"><%= link_to("retirer ce référent", non_referent_path(@composteur, referent_id: referent), method: :post) %></div>
                <% end %>
              <% end %>
              <h5 class="first-name is-referent-bg"><%= referent.first_name %></h5>
              <% if user_signed_in? %>
                <% if referent.ok_phone == true %>
                  <p class="phone-number"><%= referent.phone_number %></p>
                <% end %>

                <% if referent.ok_mail == true %>
                  <div class="dropdown dropdown-form-referent dropdown-mail-to">
                    <button class="btn referent-mail-to-toggle" type="button" id="dropdownContact-<%= referent.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Me contacter
                    </button>
                    <div class="dropdown-menu referent-composteur-action" aria-labelledby="dropdownContact-<%= referent.id %>">
                      <p><%= referent.first_name %> recevra votre message par mail.</p>
                      <%= simple_form_for @message do |f| %>
                        <%= f.input :recipient_id, input_html: { value: "#{referent.id}", type: "hidden"} %>
                        <%= f.input :sender_email, input_html: { value: "#{current_user.email}", type: "hidden"} %>
                        <%= f.input :sender_full_name, input_html: { value: "#{current_user.first_name} #{current_user.last_name}", type: "hidden"} %>
                        <%= f.input :message_type, input_html: { value: "message-to-referent", type: "hidden"} %>
                        <%= f.input :content, as: :text, placeholder: "Votre message..." %>
                        <div class="center-form-submit"><%= f.submit "envoyer", class: "don-form-btn" %></div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% if user_signed_in? %>
                <% if current_user.role == "référent" && current_user == referent %>
                  <%= simple_form_for(@notification) do |f| %>
                    <%= f.input :notification_type, as: :string, input_html: { value: "message-ref", type:"hidden" }%>
                    <%= f.input :content, as: :text, placeholder: "modifier mon message de présentation..." %>
                    <%= f.submit "Enregistrer", class: "message-form-ref" %>
                  <% end %>
                  <% if @messages_notifications != nil && referent.notifications.where(notification_type: "message-ref") != [] %>
                    <div class="notification-card <%= @messages_notifications.notification_type %>">
                      <p>"<%= referent.notifications.where(notification_type: "message-ref").last.content %>"</p>
                    </div>
                  <% end %>
                <% else %>
                  <% if @messages_notifications != nil && referent.notifications.where(notification_type: "message-ref") != [] %>
                    <div class="notification-card <%= @messages_notifications.notification_type %>">
                      <p>"<%= referent.notifications.where(notification_type: "message-ref").last.content %>"</p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <%# end %>
            <!-- </div> -->
          </div>
        <% end %>
      <% else %>
        <div class="referent-card no-ref">Pas de référent•e•s sur ce site de compostostage pour l'instant ..
        <!-- put here contact form -->
        </div>
      <% end %>
    </div>

    <div class="les-messages">
      <h3 class="marg-vert-bottom">Message de l'Agglo</h3>
      <% if @messages_admin %>
        <div class="message-date"><%= l @messages_admin.created_at, format: ("Le %d %B %Y") %></div>
        <div class="message-content"><%= @messages_admin.content %></div>
      <% end %>
    </div>
  </div>
</div>
