<div class="composteur-box">
  <div class="composteur-left">
    <% if user_signed_in? %>
      <% if current_user.composteur_id == @composteur.id && current_user.role == "référent" %>
        <%= link_to "modifier", edit_composteur_path(@composteur), class: "bouton-navbar" %>
      <% end %>
    <% end %>
    <h1><%= @composteur.name %></h1>
    <p><%= @composteur.address %></p>
    <p><%= @composteur.composteur_type %></p>
    <% if @composteur.photo.attached? %>
      <%= cl_image_tag @composteur.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <%= image_tag 'PB_logo.png' %>
    <% end %>
    <div class="stats">
      <div class="users-count">
        <% if @users.count == 0 %>
          Personne n'est inscrit sur ce site de compostostage pour l'instant..
        <% elsif @users.count == 1 %>
          On dirait qu'il n'y a qu'un seul adepte du compostage inscrit..
        <% else %>
          Déjà <%= @users.count %> adeptes du compostages inscrit•e•s sur ce site !
        <% end %>
        <div class="becoming-or-not-referent">
          <% if user_signed_in? %>
            <% if current_user.role != "admin" %>
              <% if current_user.composteur_id == nil %>
                <div class="user-action"><%= link_to("m'inscrire", inscription_path(@composteur), method: :post) %></div>
              <% elsif current_user.composteur_id == @composteur.id && current_user.role == nil %>
                <% if current_user.notifications.where(notification_type: "demande-référent").count < 1 %>
                  <div class="user-action"><%= link_to("devenir référent de ce composteur", referent_path(@composteur), method: :post) %></div>
                <% end %>
                <div class="user-action"><%= link_to("je veux me désinscrire de ce composteur", desinscription_path(@composteur), method: :post) %></div>
              <% elsif current_user.composteur_id == @composteur.id && current_user.role == "référent" %>
                <div class="user-action"><%= link_to("je ne veux plus être référent de ce composteur", non_referent_path(@composteur), method: :post) %></div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="les-users">
      <% @users.each do |user| %>
        <div class="user-card" style="<% if user.role == "référent"%><%=  'background: darkorange' %><% end %>">
          <%= ["🧅","🍌","🥦","🍎","🥨","🥖","🍁","🌼"].sample %><%= user.first_name %>
        </div>
          <p class="round-counter"><%= user.notifications.count %></p>
      <% end %>
    </div>
      <p>Plus que <%= @time_left %> jours avant que le compost soit prêt !</p>
      <!-- <p>Plus que <%#= Time.now - @composteur.installation_date.to_time %> jours avant que le compost soit prêt !</p> -->
    <div class="compost-time-to-go">
      <div class="compost-time-past" style="
        <% if @time_left > 2 %>
          <%= "width: #{100 - @time_left/3}%" %>
        <% end %>">
      </div>

    </div>
    <% if user_signed_in? %>
      <% if current_user.composteur_id == @composteur.id %>
        <div class="depot-anomalie">
          <%= simple_form_for(@notification) do |f| %>
            <%= f.input :notification_type, as: :string, input_html: { value: "depot", type:"hidden" }%>
            <%= f.input :content, as: :string, input_html: { value: "#{current_user.first_name} vient de faire un dépot !", type:"hidden" }%>
            <%= f.submit "J'ai fait un dépot !", class: "signaler depot" %>
          <% end %>
          <%= simple_form_for(@notification) do |f| %>
            <%= f.input :notification_type, as: :string, input_html: { value: "anomalie", type:"hidden" }%>
            <%= f.input :content, as: :string, input_html: { value: "Oh non.. on vient de nous signaler une anomalie.. 😱", type:"hidden" }%>
            <%= f.submit "Signaler une anomalie ...", class: "signaler anomalie" %>
          <% end %>
        </div>
        <div class="message-form">
          <%= simple_form_for(@notification) do |f| %>
            <%= f.input :notification_type, as: :string, input_html: { value: "message", type:"hidden" }%>
            <%= f.input :content, as: :text, placeholder: "votre message..."%>
            <%= f.submit "Envoyer", class: "signaler message" %>
          <% end %>
        </div>
        <div class="message-board">
          <% @notifications.each do |notification| %>
            <% if notification.notification_type == "welcome" || notification.notification_type == "depot" || notification.notification_type == "anomalie" || notification.notification_type == "message" %>
              <% if notification.user_id != current_user.id || notification.notification_type == "anomalie" %>
                <div class="notif-block">
                  <div class="notif-filler"></div>
                  <div class="notif-with-name">
                    <div class="notif-username name-right">
                      <% if notification.notification_type == "anomalie" %>
                        🤿
                      <% else %>
                        <%= notification.user.first_name %>
                      <% end %>
                    </div>
                    <div class="notification-card notification-card-current-user <%= notification.notification_type %>">
                      <div class="notif-content"><p><%= notification.content %></p></div>
                      <div class="notif-since">Il y a <%= distance_of_time_in_words(Time.now, notification.created_at) %></div>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="notif-block">
                  <div class="notif-with-name">
                    <div class="notif-username name-left">Moi</div>
                    <div class="notification-card <%= notification.notification_type %>">
                      <% if notification.notification_type == "depot" %>
                        <div class="notif-content"><p>Je viens de faire un dépot ! 👌 </p></div>
                      <% else %>
                        <div class="notif-content"><p><%= notification.content %></p></div>
                      <% end %>
                      <div class="notif-since">Il y a <%= distance_of_time_in_words(Time.now, notification.created_at) %></div>
                    </div>
                  </div>
                  <div class="notif-filler"></div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="composteur-right">
    <% if user_signed_in? == false %>
      <div class="composteur-registration-form">
        <%= render "devise/registrations/new" %>
      </div>
    <% end %>
    <div class="les-referents white-bg">
      <h3>référent•e•s</h3>
      <button id="ref-popover" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Etre référent•e implique de grandes responsabilités.">
        C'est quoi être référent•e ?
      </button>
      <% if @referents.count != 0 %>
        <% @referents.each do |referent| %>
          <div class="referent-card">
          <!-- <div class="star">⭐️</div> -->
            <!-- <div class="referent-profile"> -->
              <h5><%= referent.first_name %></h5>
              <% if referent.ok_phone %>
                <p><%= referent.phone_number %></p>
              <% end %>
              <% if referent.ok_mail %>
                <%= mail_to referent.email, "✉️", subject: "Votre composteur m'intéresse !", class: "email-button" %>
              <% end %>
              <% if user_signed_in? %>
                <% if current_user.role == "référent" && current_user == referent %>
                  <%= simple_form_for(@notification) do |f| %>
                    <%= f.input :notification_type, as: :string, input_html: { value: "message-ref", type:"hidden" }%>
                    <%= f.input :content, as: :text, placeholder: "modifier mon message de présentation..." %>
                    <%= f.submit "Enregistrer", class: "message-form-ref" %>
                  <% end %>
                  <% if @messages_notifications != nil && referent.notifications.where(notification_type: "message-ref") != [] %>
                    <div class="notification-card <%= @messages_notifications.notification_type %>">
                      <p><%= referent.notifications.where(notification_type: "message-ref").last.content %></p>
                    </div>
                  <% end %>
                <% else %>
                  <% if @messages_notifications != nil && referent.notifications.where(notification_type: "message-ref") != [] %>
                    <div class="notification-card <%= @messages_notifications.notification_type %>">
                      <p><%= referent.notifications.where(notification_type: "message-ref").last.content %></p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <%# end %>
            <!-- </div> -->
          </div>
        <% end %>
      <% else %>
        <div class="referent-card no-ref">Pas de référent sur ce composteur pour l'instant ..
        <% if user_signed_in? %>
          <%if current_user.composteur_id == @composteur.id && current_user.role == nil %>
            <% if current_user.notifications.where(notification_type: "demande-référent").count < 1 %>
              <div class="devenir-ref-btn"><%= link_to("devenir référent", referent_path(@composteur), method: :post) %></div>
            <% end %>
          <% end %>
        <% end %>
        </div>
      <% end %>
    </div>

    <div class="les-messages">
      <h3 class="marg-vert-bottom">message de l'agglo</h3>
      <% if @messages_admin %>
        <div class="message-date"><%= l @messages_admin.created_at, format: ("Le %d %B %Y") %></div>
        <div class="message-content"><%= @messages_admin.content %></div>
      <% end %>
    </div>
  </div>
</div>
