<% content_for :meta_title, "Composteur #{@composteur.name} | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Découvrez le composteur #{@composteur.name}, un #{@composteur.category} mis à disposition par l'Agglo de Pau à l'adresse : #{@composteur.address}." %>
<% content_for :meta_image, cl_image_path(@composteur.photo.key, width: 600, crop: :fill) if @composteur.photo.attached? %>

<div class="composteur-box">
  <div id="topReferentAggloCollapse">
    <button class="btn btn-to-referent-collapse" type="button" data-toggle="collapse" data-target="#collapseReferentAgglo" aria-expanded="false" aria-controls="collapseExample">
      Plus d'infos
    </button>

    <div class="collapse" id="collapseReferentAgglo">
      <div class="card card-body">
        <% unless user_signed_in? %>
          <div class="composteur-registration-form">
            <%= render "devise/registrations/new" %>
          </div>
        <% end %>
        <div class="les-referents white-bg">
          <div class="becoming-or-not-referent">
            <% if user_signed_in? %>
              <% unless current_user.admin? %>
                <% if current_user.composteur_id == @composteur.id && current_user.compostophile? %>
                  <div class="dropdown-form-referent">
                    <div class="referent-action-toggle">
                      <% if current_user.notifications.where(notification_type: "demande-référent").count < 1 %>
                        <%= link_to("devenir référent", referent_path(@composteur), method: :post) %>
                      <% end %>
                    </div>
                  </div>
                  <!-- link to me désinscrire --->
                <% elsif current_user.composteur_id == @composteur.id && current_user.referent? %>
                  <div class="dropdown-form-referent">
                    <div class="referent-action-toggle">
                      <%= link_to("ne plus être référent", non_referent_path(@composteur), method: :post) %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <h3><%= inclusive_pluralize(@referents.count, 'Référent•e', '•s') %></h3>
          <%= link_to "C'est quoi être référent•e ?", "https://uncomposteurici.gitbook.io/poubellesbattle/convaincre-son-assemblee-generale-de-copropriete-dinstaller-un-composteur-en-pied-dimmeuble/le-role-de-referent-e-composteur", class: "ref-quoi" %>
          <% if @referents.count != 0 %>
            <% @referents.each do |referent| %>
              <div class="referent-card">
              <!-- <div class="star">⭐️</div> -->
                <!-- <div class="referent-profile"> -->
              <% if user_signed_in? %>
                <% if current_user.admin? %>
                  <div class="mini-btn"><%= link_to("retirer ce référent", non_referent_path(@composteur, referent_id: referent), method: :post) %></div>
                <% end %>
              <% end %>
              <h5 class="first-name is-referent-bg"><%= referent.first_name %></h5>
              <% if user_signed_in? %>
                <% if referent.ok_phone == true %>
                  <p class="phone-number"><%= referent.phone_number %></p>
                <% end %>

                <% if referent.ok_mail == true %>
                  <div class="dropdown dropdown-form-referent dropdown-mail-to">
                    <button class="btn referent-mail-to-toggle" type="button" id="dropdownContact-<%= referent.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Me contacter
                    </button>
                    <div class="dropdown-menu referent-composteur-action" aria-labelledby="dropdownContact-<%= referent.id %>">
                      <p><%= referent.first_name %> recevra votre message par mail.</p>
                      <%= simple_form_for @message do |f| %>
                        <%= f.input :recipient_id, input_html: { value: "#{referent.id}", type: "hidden"} %>
                        <%= f.input :sender_email, input_html: { value: "#{current_user.email}", type: "hidden"} %>
                        <%= f.input :sender_full_name, input_html: { value: "#{current_user.first_name} #{current_user.last_name}", type: "hidden"} %>
                        <%= f.input :message_type, input_html: { value: "message-to-referent", type: "hidden"} %>
                        <%= f.input :content, as: :text, placeholder: "Votre message..." %>
                        <div class="center-form-submit"><%= f.submit "envoyer", class: "don-form-btn" %></div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% if user_signed_in? %>
                <% if current_user.referent? && current_user == referent %>
                  <%= simple_form_for(@notification) do |f| %>
                    <%= f.input :notification_type, as: :string, input_html: { value: "message-ref", type:"hidden" }%>
                    <%= f.input :content, as: :text, placeholder: "modifier mon message de présentation..." %>
                    <%= f.submit "Enregistrer", class: "message-form-ref" %>
                  <% end %>
                  <% if @messages_notifications != nil && referent.notifications.where(notification_type: "message-ref") != [] %>
                    <div class="notification-card <%= @messages_notifications.notification_type %>">
                      <p>"<%= referent.notifications.where(notification_type: "message-ref").last.content %>"</p>
                    </div>
                  <% end %>
                <% else %>
                  <% if @messages_notifications != nil && referent.notifications.where(notification_type: "message-ref") != [] %>
                    <div class="notification-card <%= @messages_notifications.notification_type %>">
                      <p>"<%= referent.notifications.where(notification_type: "message-ref").last.content %>"</p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="referent-card no-ref">Pas de référent•e•s sur ce site de compostostage pour l'instant ..
            </div>
          <% end %>
        </div>

        <div class="les-messages">
          <h3 class="marg-vert-bottom">Message de l'Agglo</h3>
          <% if @messages_admin %>
            <div class="message-date"><%= l @messages_admin.created_at, format: ("Le %d %B %Y") %></div>
            <div class="message-content"><%= @messages_admin.content %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="composteur-left">
    <div class="inscription-desinscription">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to "modifier", edit_admin_composteur_path(@composteur), class: "btn btn-warning text-white small-btn-pb"%>
      <% elsif (current_user.compostophile? || current_user.referent?) && (current_user.composteur_id == nil || current_user.composteur_id == @composteur.id) %>
        <% if current_user.composteur_id == nil %>
          <%= link_to "m'inscrire sur ce site !", inscription_path(@composteur), method: :post, class: "btn btn-success text-white small-btn-pb" %>
        <% elsif current_user.composteur_id == @composteur.id %>
          <%= link_to "me désinscrire", desinscription_path(@composteur), method: :post, class: "btn btn-info text-white small-btn-pb" %>
        <% end %>
      <% end %>
    <% end %>
    <%#= link_to "dépot sauvage", anonymous_depot_path(composteur: @composteur.id, type: 'depot direct') %>
  </div>
  <div class="header-composteur">
    <div class="composteur-infos">
      <h1 class="composteur-name">Composteur <%= @composteur.name %></h1>
      <p class="composteur-adress"><%= @composteur.category %> : <%= @composteur.address %></p>
    </div>
    <!-- <div class="points-pb">
      <h1 class="bangers">25</h1>
      <p>dépots par semaine en moyenne</p>
    </div> -->
  </div>
   <!--  <p class="composteur-type"></p> -->
    <%# if @last_anomalie %>
      <!-- <p>Déjà <%#= distance_of_time_in_words(Time.now, @last_anomalie.created_at) %> depuis la dernière anomalie !</p> -->
    <%# end %>
    <div class="banner-composteur-img-stats">
      <% if @composteur.photo.attached? %>
        <%= cl_image_tag @composteur.photo.key, width: 600, height: 450, crop: :fill, class: "composteur-photo" %>
      <% else %>
        <%= image_tag 'PB_logo.png', class: "composteur-photo" %>
      <% end %>
      <div class="stats">
        <div class="stats-pb">
          <% if @users.count == 0 %>
            <p class="users_stat_info">Personne n'est inscrit sur ce site de compostage pour l'instant...</p>
          <% elsif @users.count > 0 %>
          <h1 class="bangers"><%= @users.count %></h1>
          <p class="users-stat-info"><%= "adepte".pluralize(@users.count) %> du compostage</p>
          <% end %>
        </div>
        <div class="stats-pb" data-toggle="tooltip" data-html="true" data-placement="left" title="
            <strong>Points Poubelles Battle</strong>
            <p>Les points PB sont là pour encourager les dépots autant que les échanges entre les membres du site de compostage.</p>
            <p>+10 points par dépot et anomalie résolue</p>
            <p>-5 points par anomalie non résolue</p>
            <p>+2 points par messages</p>
            ">
          <h1 class="bangers"><%= @score %></h1>
          <p class="users-stat-info"><%= "point".pluralize(@score) %> PB</p>
        </div>
        <div class="stats-pb">
          <h1 class="bangers"><%= @depots_count %></h1>
          <p class="users-stat-info"><%= "dépot".pluralize(@depots_count) %></p>
        </div>
      </div>
    </div>
    <div class="les-users">
      <% @reversed_referents.each do |user| %>
        <div class="user-card">
          <%#= ["🧅","🍌","🥦","🍎","🥨","🥖","🍁","🌼"].sample <%>
          <p class="user-first-name is-referent-bg"><%= user.first_name %></p>
          <p class="round-counter"><%= user.notifications.count %></p>
        </div>

      <% end %>
      <% @not_referents.each do |user| %>
        <div class="user-card">
          <%#= ["🧅","🍌","🥦","🍎","🥨","🥖","🍁","🌼"].sample %>
          <p class="user-first-name"><%= user.first_name %></p>
          <p class="round-counter"><%= user.notifications.count %></p>
        </div>
      <% end %>

    </div>
    <div class="jauge-to-compost">
      <% if @time_left > 0 %>
        <p><span class="bangers"><%= @time_left %></span> jours avant le prochain retournement !</p>
      <% elsif @time_left == 0 %>
        <p>On dirait que la date du retournement du compost est arrivée !</p>
      <% else %>
        <p>Est-ce que la date de retournement est passée ?</p>
      <% end %>
      <div class="compost-time-to-go">
        <div class="compost-time-past" style="
          <% if @time_left %>
              <%= "width: #{100 - (3 * @time_left/10)}%;" %>
          <% end %> ">
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <% if current_user.composteur_id == @composteur.id || current_user.admin? %>
        <h2 class="mt-5">Messagerie</h2>
        <p class="legende">cet espace privé vous permet d'échanger avec les autres membres du site de compostage.</p>
        <% unless current_user.admin? %>
          <div class="depot-anomalie">
            <%= simple_form_for @notification, html: { class: "depot-form"} do |f| %>
              <%= f.input :notification_type, as: :string, input_html: { value: "depot", type:"hidden" }%>
              <%= f.input :content, as: :string, input_html: { value: "#{current_user.first_name} vient de faire un dépot !", type:"hidden" }%>
              <%= f.submit "J'ai fait un dépot !", class: "signaler depot" %>
            <% end %>
            <%= simple_form_for @notification, html: { class: "anomalie-form"} do |f| %>
              <%= f.input :notification_type, as: :string, input_html: { value: "anomalie", type:"hidden" }%>
              <%= f.input :content, collection: ["couvercle absent/ouvert", "outil manquant", "matière non compostable dans le bac", "bac trop plein", "bac trop sec", "bac trop humide", "composteur cassé", "manque de structurant"] %>
              <%= f.submit "Signaler une anomalie ...", class: "signaler anomalie" %>
            <% end %>
          </div>
          <div class="message-form">
            <%= simple_form_for @notification, html: { class: "message-form-flex"} do |f| %>
              <%= f.input :notification_type, as: :string, input_html: { value: "message", type:"hidden" }%>
              <%= f.input :content, as: :text, placeholder: "Ecrivez ici pour discuter avec les membres de #{@composteur.name}..",  class: "message-form-content-input"%>
              <%= f.submit "Envoyer", class: "mini-btn mini-banana-btn signaler" %>
            <% end %>
          </div>
        <% end %>
        <div class="message-board">
          <% @notifications.each do |notification| %>
            <% if notification.notification_type == "welcome" || notification.notification_type == "depot" || notification.notification_type == "anomalie" || notification.notification_type == "message" || notification.notification_type == "depot direct" %>
              <% if notification.user_id != current_user.id || notification.notification_type == "anomalie" %>
                <div class="notif-block">
                  <div class="notif-filler"></div>
                  <div class="notif-with-name">
                    <div class="notif-username name-right">
                      <% if notification.notification_type == "anomalie" %>
                        <% if notification.resolved %>
                          anomalie résolue par votre référent•e préféré•e ! 🤿
                        <% else %>
                          <% if current_user.referent? %>
                            <div class="resolving-btn">
                              <%= link_to("#{current_user.first_name}, cliquez ici si l'anomalie est résolue ! 🙂", resolved_path(notification), method: :post) %>
                            </div>
                          <% end %>
                        <% end %>
                      <% else %>
                        <%= notification.user.nil? ? "anonyme 🦸" : "#{notification.user.first_name}" %>
                      <% end %>
                      <div class="notification-admin-line">
                        <div class="destroy-btn">
                          <%= link_to "❌", admin_notification_path(notification), method: :delete, data: {confirm: "Vous êtes sur le point de supprimer ce message. Etes-vous certain•e ?"} if current_user.admin? %>
                        </div>
                      </div>
                    </div>
                    <div class="notification-card notification-card-current-user <%= notification.notification_type %>">
                      <div class="notif-content"><p><%= notification.content %></p></div>
                      <div class="notif-since">Il y a <%= distance_of_time_in_words(Time.now, notification.created_at) %></div>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="notif-block">
                  <div class="notif-with-name">
                    <div class="notif-username name-left">Moi</div>
                    <div class="notification-card <%= notification.notification_type %>">
                      <% if notification.notification_type == "depot" || notification.notification_type == "depot direct"%>
                        <div class="notif-content"><p>Je viens de faire un dépot ! 👌 </p></div>
                      <% else %>
                        <div class="notif-content"><p><%= notification.content %></p></div>
                      <% end %>
                      <div class="notif-since">Il y a <%= distance_of_time_in_words(Time.now, notification.created_at) %></div>
                    </div>
                  </div>
                  <div class="notif-filler"></div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>



  <div class="composteur-right">
    <% if user_signed_in? == false %>
      <div class="composteur-registration-form">
        <%= render "devise/registrations/new" %>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.composteur_id == @composteur.id && current_user.referent? %>
        <div id="accordion" class="search-add-user white-bg">
          <h5>Actions Référent•e</h5>

            <div class="action-card">
              <a class="btn small-btn-pb white-btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <p class="mb-0">
                  Ajouter des membres
                </p>
              </a>

              <div id="collapseOne" class="collapse" aria-labelledby="" data-parent="#accordion">
                <div class="search-form">
                  <p>Recherchez des nouveaux adeptes du compostage et ajoutez les à votre site !</p>
                  <%= form_tag composteur_path(@composteur), method: :get do %>
                    <%= text_field_tag :query,
                    params[:query],
                    class: "form_control",
                    placeholder: "Chercher une personne" %>
                    <%= submit_tag "🔍", class: "btn btn-primary" %>
                  <% end %>
                  <% if !@users_search.empty? %>
                    <% @users_search.each do |user| %>
                      <div class="user-list-line">
                        <%= user.first_name %> <%= user.last_name %>
                        <%= link_to "➕", inscription_par_referent_path(user_id: user.id), method: :post, class: "add-user-btn" %>
                      </div>
                    <% end %>
                  <% else %>
                    pas de resultat..
                  <% end %>
                </div>
              </div>
            </div>
            <div class="action-card">
              <a class="btn small-btn-pb white-btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <p class="mb-0">
                      Date de retournement
                  </p>
              </a>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingChangeDate" data-parent="#accordion">
                <div class="card-body">
                  <p>Quelle est la date de retournement estimée pour votre compost. Cette date sert à calculer le remplissage de la jauge à gauche.</p>
                  <%= simple_form_for @composteur do |f| %>
                    <%= f.input :date_retournement, placeholder: "date de retournement :", as: :string, required: false, input_html: {class: "datepicker"} %>
                    <div class="center-form-submit"><%= f.submit "mettre à jour", class: "don-form-btn" %></div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="action-card">
              <a class="btn small-btn-pb white-btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <p class="mb-0">
                      Modifier la photo
                  </p>
              </a>
              <div id="collapseThree" class="collapse" aria-labelledby="headingPhotoComposteur" data-parent="#accordion">
                <div class="card-body">
                  <p>Choisissez une nouvelle photo pour votre site.</p>
                  <%= simple_form_for @composteur do |f| %>
                    <%= f.input :photo, as: :file, label: false %>
                    <div class="center-form-submit"><%= f.submit "mettre à jour", class: "don-form-btn" %></div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="action-card">
              <a class="btn small-btn-pb white-btn" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <p class="mb-0">
                    Ecrire à mes co-composteurs
                  </p>
              </a>
              <div id="collapseFour" class="collapse" aria-labelledby="headingEmailtoUsers" data-parent="#accordion">
                <div class="card-body">
                  <p>Le message que vous écrivez ici sera reçu par mail par tou•te•s les membres de <%= @composteur.name %>!</p>
                  <%= simple_form_for @message do |f| %>
                    <%= f.input :sender_email, input_html: { value: "#{current_user.email}", type: "hidden"} %>
                    <%= f.input :sender_full_name, input_html: { value: "#{current_user.first_name} #{current_user.last_name}", type: "hidden"} %>
                    <%= f.input :message_type, input_html: { value: "message-membres", type: "hidden"} %>
                    <%= f.input :content, as: :text, placeholder: "Votre message..." %>
                    <div class="center-form-submit"><%= f.submit "envoyer", class: "don-form-btn" %></div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="action-card">
              <a class="btn small-btn-pb white-btn" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  <p class="mb-0">
                    Contacter Poubelles Battle
                  </p>
              </a>
              <div id="collapseFive" class="collapse" aria-labelledby="headingPhotoComposteur" data-parent="#accordion">
                <div class="card-body">
                  <p>Ecrivez-nous tout ce que vous voulez ! Votre message arrivera dans notre directement dans notre boîte mail.</p>
                  <%= simple_form_for @message do |f| %>
                    <%= f.input :sender_email, input_html: { value: "#{current_user.email}", type: "hidden"} %>
                    <%= f.input :sender_full_name, input_html: { value: "#{current_user.first_name} #{current_user.last_name}", type: "hidden"} %>
                    <%= f.input :message_type, input_html: { value: "message-agglo", type: "hidden"} %>
                    <%= f.input :content, as: :text, placeholder: "Votre message..." %>
                    <div class="center-form-submit"><%= f.submit "envoyer", class: "don-form-btn" %></div>
                  <% end %>
                </div>
              </div>
            </div>
            <%#= link_to "ne plus être référent•e", non_referent_path(@composteur, referent_id: current_user), method: :post, data: {confirm: "Etes vous sûr•e de ne plus vouloir être référent•e ?"}, class: "btn white-btn" %>

        </div>
      <% end %>
    <% end %>
    <div class="les-referents white-bg">
      <h3><%= inclusive_pluralize(@referents.count, 'Référent•e', '•s') %></h3>
      <%= link_to "C'est quoi être référent•e ?", "https://uncomposteurici.gitbook.io/poubellesbattle/convaincre-son-assemblee-generale-de-copropriete-dinstaller-un-composteur-en-pied-dimmeuble/le-role-de-referent-e-composteur", class: "ref-quoi" %>
      <% if @referents.count != 0 %>
        <% @referents.each do |referent| %>
          <div class="referent-card">
          <!-- <div class="star">⭐️</div> -->
            <!-- <div class="referent-profile"> -->
              <% if user_signed_in? %>
                <% if current_user.admin? %>
                  <div class="mini-btn"><%= link_to("retirer ce référent", admin_non_referent_path(@composteur, referent_id: referent), method: :post) %></div>
                <% end %>
              <% end %>
              <h5 class="first-name is-referent-bg"><%= referent.first_name %></h5>
              <% if user_signed_in? %>
                <% if referent.ok_phone == true %>
                  <p class="phone-number"><%= referent.phone_number %></p>
                <% end %>

                <% if referent.ok_mail == true %>
                  <div class="dropdown dropdown-form-referent dropdown-mail-to">
                    <button class="btn referent-mail-to-toggle" type="button" id="dropdownContact-<%= referent.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Me contacter
                    </button>
                    <div class="dropdown-menu referent-composteur-action" aria-labelledby="dropdownContact-<%= referent.id %>">
                      <p><%= referent.first_name %> recevra votre message par mail.</p>
                      <%= simple_form_for @message do |f| %>
                        <%= f.input :recipient_id, input_html: { value: "#{referent.id}", type: "hidden"} %>
                        <%= f.input :sender_email, input_html: { value: "#{current_user.email}", type: "hidden"} %>
                        <%= f.input :sender_full_name, input_html: { value: "#{current_user.first_name} #{current_user.last_name}", type: "hidden"} %>
                        <%= f.input :message_type, input_html: { value: "message-to-referent", type: "hidden"} %>
                        <%= f.input :content, as: :text, placeholder: "Votre message..." %>
                        <div class="center-form-submit"><%= f.submit "envoyer", class: "don-form-btn" %></div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% if user_signed_in? %>
                <% if current_user.referent? && current_user == referent %>
                  <%= simple_form_for(@notification) do |f| %>
                    <%= f.input :notification_type, as: :string, input_html: { value: "message-ref", type:"hidden" }%>
                    <%= f.input :content, as: :text, placeholder: "modifier mon message de présentation..." %>
                    <%= f.submit "Enregistrer", class: "message-form-ref" %>
                  <% end %>
                  <% if @messages_notifications != nil && referent.notifications.where(notification_type: "message-ref") != [] %>
                    <div class="notification-card <%= @messages_notifications.notification_type %>">
                      <p>"<%= referent.notifications.where(notification_type: "message-ref").last.content %>"</p>
                    </div>
                  <% end %>
                <% else %>
                  <% if @messages_notifications != nil && referent.notifications.where(notification_type: "message-ref") != [] %>
                    <div class="notification-card <%= @messages_notifications.notification_type %>">
                      <p>"<%= referent.notifications.where(notification_type: "message-ref").last.content %>"</p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <%# end %>
            <!-- </div> -->
          </div>
        <% end %>
      <% else %>
        <div class="referent-card no-ref">Pas de référent•e•s sur ce site de compostostage pour l'instant ..
        <!-- put here contact form -->
        </div>
      <% end %>
      <div class="becoming-or-not-referent">
        <% if user_signed_in? %>
          <% unless current_user.admin? %>
            <% if current_user.composteur_id == @composteur.id && current_user.compostophile? %>
              <div class="">
                  <% if current_user.notifications.where(notification_type: "demande-référent").count < 1 %>
                    <%= link_to "devenir référent", referent_path(@composteur), method: :post, class: "btn btn-success text-white small-btn-pb" %>
                  <% end %>
              </div>
              <!-- link to me désinscrire --->
            <% elsif current_user.composteur_id == @composteur.id && current_user.referent? %>
              <div class="">
                  <%= link_to "ne plus être référent", non_referent_path(@composteur), method: :post, class: "btn btn-warning text-white small-btn-pb" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="les-messages">
      <h3 class="marg-vert-bottom">Message de l'Agglo</h3>
      <% if @messages_admin %>
        <div class="message-date"><%= l @messages_admin.created_at, format: ("Le %d %B %Y") %></div>
        <div class="message-content"><%= @messages_admin.content %></div>
      <% end %>
    </div>
  </div>
</div>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "<%= @composteur.name %>",
  "@type": "OpeningHoursSpecification",
  "dayOfWeek": [
  "Monday",
  "Tuesday",
  "Wednesday",
  "Thursday",
  "Friday",
  "Saturday",
  "Sunday"
  ],
  "closes": "23:59:00",
  "opens": "00:00:00",
  "image" : "<%= cl_image_path(@composteur.photo.key, width: 600, crop: :fill) if @composteur.photo.attached? %>",
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "<%= @composteur.address.partition(",")[0] %>",
    "addressLocality" : "<%= @composteur.address.partition(",")[2].strip %>",
    "addressCountry" : "France"
  },
  "url" : "<%= root_url %>"
}
</script>
