<div class="all-dons-view">
  <div class="don-cards">
    <div class="dons-title">
      <h2>Bourse Verte</h2>
      <div class="dons-explaination">
        <p>La Bourse Verte rassemble tous les dons verts de la communauté Poubelles Battle.</p>
        <p>Vous voulez proposer du compost, du structurant ou même des outils ?</p>
      </div>
      <%= link_to "Je veux donner !", new_donvert_path, class: "new-don-btn" %>
    </div>
    <% @dons.each do |don| %>
      <div class="don-card <%= don.date_fin_dispo.past? || don.pourvu ? "don-past" : '' %>">
        <% if user_signed_in? %>
          <% if current_user.id == don.user_id %>
            <div class="dropdown dropdown-options">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownOptions-<%= don.id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                gérer mon don
              </button>
              <div class="dropdown-menu don-options-size-padd" aria-labelledby="dropdownOptions-<%= don.id%>">
                <% if !don.pourvu %>
                  <div class="dropdown-item">
                    <%= link_to "Mon don est pourvu", pourvu_path(don), method: :post, data: { confirm: "Une fois le don pourvu, vous ne pourrez plus revenir en arrière."} %>
                  </div>
                <% end %>
                <% if !don.archived %>
                  <div class="dropdown-item">
                    <%= link_to "Archiver mon don", archive_path(don), method: :post, data: { confirm: "Une fois le don archivé, votre don ne sera plus visible dans la liste et vous ne pourrez plus revenir en arrière."} %>
                  </div>
                <% end %>
              </div>
            </div>



          <% end %>
        <% end %>
        <% if don.photo.attached? %>
          <%= cl_image_tag don.photo.key, height: 160, width: 235, crop: :fill %>
        <% else %>
          <%= image_tag 'PB_logo.png' %>
        <% end %>
        <h5><%= don.title %></h5>
        <div class="don-infos">
          <p class="don-details"><span class="nom-donneur"><%= don.donneur_name %></span>, <%= don.donateur_type %>, donne : <span class="don-matiere"><%= don.type_matiere_orga %></span>
            <% if  don.date_fin_dispo.future? %>
              <span>à l'adresse </span><span class="don-adresse"><%= don.donneur_address %></span>
            <% end %>
          <span>.</span></p>
          <p class="description-don">"<%= don.description %>"</p>
          <% if don.pourvu %>
            <p class="don-pourvu">Ce don est déjà pourvu..</p>
          <% elsif don.date_fin_dispo.past? %>
            <p class="don-depasse">Date limite dépassée..</p>
          <% else %>
            <p>Il reste <span class="don-non-pourvu"><%= distance_of_time_in_words(Time.now, don.date_fin_dispo) %></span> pour récupérer le don !</p>

            <div class="dropdown dropdown-form">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownForm-<%= don.id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lui écrire
              </button>
              <div class="dropdown-menu don-form-size-padd" aria-labelledby="dropdownForm-<%= don.id%>">
                <h5>Message pour <%= don.donneur_name %></h5>
                <%= simple_form_for @message do |f| %>
                  <%= f.input :sender_email, placeholder: "Votre mail" %>
                  <%= f.input :sender_full_name, placeholder: "Votre nom" %>
                  <%= f.input :donvert_id, input_html: { value: "#{don.id}", type: "hidden"} %>
                  <%= f.input :content, as: :text, placeholder: "Votre message..." %>
                  <div class="center-form-submit"><%= f.submit "envoyer", class: "don-form-btn" %></div>
                <% end %>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
