<div class="all-dons-view">
  <div class="don-cards">
    <div class="dons-title">
      <h2>Bourse Verte</h2>
      <div class="dons-explaination">
        <p>La Bourse Verte rassemble tous les dons verts de la communauté Poubelles Battle.</p>
        <p>Vous voulez proposer du compost, du structurant ou même des outils ?</p>
      </div>
      <%= link_to "Je veux donner !", new_donvert_path, class: "new-don-btn" %>
    </div>
    <% @dons.each do |don| %>
      <div class="don-card <%= don.date_fin_dispo.past? ? "don-past" : '' %>">
        <% if don.photo.attached? %>
          <%= cl_image_tag don.photo.key, height: 143, width: 190, crop: :fill %>
        <% else %>
          <%= image_tag 'PB_logo.png' %>
        <% end %>
        <h5><%= don.title %></h5>
        <div class="don-infos">
          <p class="don-details"><span class="nom-donneur"><%= don.donneur_name %></span>, <%= don.donateur_type %>, donne : <span class="don-matiere"><%= don.type_matiere_orga %></span>
            <% if  don.date_fin_dispo.future? %>
              <span>à l'adresse </span><span class="don-adresse"><%= don.donneur_address %></span>
            <% end %>
          <span>.</span></p>
          <p class="description-don">"<%= don.description %>"</p>
          <% if don.pourvu %>
            <p class="don-pourvu">Ce don est déjà pourvu..</p>
          <% elsif don.date_fin_dispo.past? %>
            <p class="don-depasse">Date limite dépassée..</p>
          <% else %>
            <p>Il reste <span class="don-non-pourvu"><%= distance_of_time_in_words(Time.now, don.date_fin_dispo) %></span> pour récupérer le don !</p>
            <%= mail_to don.donneur_email, "Lui écrire !", subject: "Je suis interessé•e par votre don !" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
