<div class="all-dons-view">
  <div class="don-cards">
    <div class="dons-title">
      <h2>Bourse Verte</h2>
      <h3>Dons en cours</h3>

      <%= link_to "Je veux faire un nouveau don !", new_donvert_path, class: "new-don-btn" %>
    </div>
    <% @dons.each do |don| %>
      <div class="don-card <%= don.date_fin_dispo.past? || don.pourvu ? "don-past" : '' %>">

            <% if !don.pourvu %>
              <div class="edit-don-btn pourvu-don">
                <%= link_to "Mon don est pourvu", pourvu_path(don), method: :post, data: { confirm: "Une fois le don pourvu, vous ne pourrez plus revenir en arrière."} %>
              </div>
            <% end %>
            <% if !don.archived %>
              <div class="edit-don-btn archive-don">
                <%= link_to "Archiver mon don", archive_path(don), method: :post, data: { confirm: "Une fois le don archivé, votre don ne sera plus visible dans la liste et vous ne pourrez plus revenir en arrière."} %>
              </div>
            <% end %>

        <% if don.photo.attached? %>
          <%= cl_image_tag don.photo.key, height: 143, width: 235, crop: :fill %>
        <% else %>
          <%= image_tag 'PB_logo.png' %>
        <% end %>
        <h5><%= don.title %></h5>
        <div class="don-infos">
          <p class="don-details"><span class="nom-donneur"><%= don.donneur_name %></span>, <%= don.donateur_type %>, donne : <span class="don-matiere"><%= don.type_matiere_orga %></span>
            <% if  don.date_fin_dispo.future? %>
              <span>à l'adresse </span><span class="don-adresse"><%= don.donneur_address %></span>
            <% end %>
          <span>.</span></p>
          <p class="description-don">"<%= don.description %>"</p>
          <% if don.pourvu %>
            <p class="don-pourvu">Ce don est déjà pourvu..</p>
          <% elsif don.date_fin_dispo.past? %>
            <p class="don-depasse">Date limite dépassée..</p>
          <% else %>
            <p>Il reste <span class="don-non-pourvu"><%= distance_of_time_in_words(Time.now, don.date_fin_dispo) %></span> pour récupérer le don !</p>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @dons_archive != nil %>
      <div class="dons-title">
        <h3>Dons archivés</h3>
      </div>
      <% @dons_archive.each do |don| %>
        <div class="don-card <%= don.date_fin_dispo.past? || don.pourvu ? "don-past" : '' %>">

              <% if !don.pourvu %>
                <div class="edit-don-btn pourvu-don">
                  <%= link_to "Mon don est pourvu", pourvu_path(don), method: :post, data: { confirm: "Une fois le don pourvu, vous ne pourrez plus revenir en arrière."} %>
                </div>
              <% end %>
              <% if !don.archived %>
                <div class="edit-don-btn archive-don">
                  <%= link_to "Archiver mon don", archive_path(don), method: :post, data: { confirm: "Une fois le don archivé, votre don ne sera plus visible dans la liste et vous ne pourrez plus revenir en arrière."} %>
                </div>
              <% end %>

          <% if don.photo.attached? %>
            <%= cl_image_tag don.photo.key, height: 143, width: 235, crop: :fill %>
          <% else %>
            <%= image_tag 'PB_logo.png' %>
          <% end %>
          <h5><%= don.title %></h5>
          <div class="don-infos">
            <p class="don-details"><span class="nom-donneur"><%= don.donneur_name %></span>, <%= don.donateur_type %>, donne : <span class="don-matiere"><%= don.type_matiere_orga %></span>
              <% if  don.date_fin_dispo.future? %>
                <span>à l'adresse </span><span class="don-adresse"><%= don.donneur_address %></span>
              <% end %>
            <span>.</span></p>
            <p class="description-don">"<%= don.description %>"</p>
            <% if don.pourvu %>
              <p class="don-pourvu">Ce don est pourvu..</p>
            <% elsif don.date_fin_dispo.past? %>
              <p class="don-depasse">Date limite dépassée..</p>
            <% else %>
              <p>Il reste <span class="don-non-pourvu"><%= distance_of_time_in_words(Time.now, don.date_fin_dispo) %></span> pour récupérer le don !</p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


</div>
