<div class="all-dons-view">
  <div class="don-cards">
    <div class="dons-title">
      <% if @don.user_id == current_user.id %>
        <% if @don.archived %>
          <h2>Don archivé</h2>
          <p>Ce don a été archivé le <%= @don.updated_at.strftime("%d/%m/%Y") %></p>
        <% elsif @don.pourvu %>
          <h2>Aperçu de mon don</h2>
          <div class="dons-explaination">
            <p>Ce don est pourvu, vous ne pouvez plus le modifier.</p>
            <p>Vous avez la possibilité d'archiver ce don afin qu'il ne soit plus visible des autres utlisateurs.</p>
            <div class="new-don-btn">
              <%= link_to "Archiver mon don !", archive_path(@don), method: :post, data: { confirm: "Une fois le don archivé, votre don ne sera plus visible dans la liste et vous ne pourrez plus revenir en arrière."} %>
            </div>
          </div>
        <% else %>
          <h2>Aperçu de mon don</h2>
          <div class="new-don-btn">
            <%= link_to "Mon don est pourvu !", pourvu_path(@don), method: :post, data: { confirm: "Une fois le don pourvu, vous ne pourrez plus revenir en arrière."} %>
          </div>
        <% end %>
      <% elsif @don.user_id == nil %>
        <h2>Relier ce don à mon compte</h2>
        <%= form_tag link_path(@don), method: :get do %>
          <%= text_field_tag :codeword,
          params[:codeword],
          class: "form_control",
          placeholder: "mot de passe de l'annonce" %>
          <%= submit_tag "Lier mon compte", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
    <div class="don-card <%= @don.date_fin_dispo.past? ? "don-past" : '' %>">
      <% if @don.photo.attached? %>
        <%= cl_image_tag @don.photo.key, alt: "Photo du don de #{@don.donneur_name} - #{@don.type_matiere_orga} - #{@don.description}", height: 143, width: 235, crop: :fill %>
      <% else %>
        <%= image_tag 'PB_logo2.png', alt: "Photo non fournie par #{@don.donneur_name} - #{@don.type_matiere_orga} - #{@don.description}" %>
      <% end %>
      <h5><%= @don.title %></h5>
      <div class="don-infos">
        <p class="don-details"><span class="nom-donneur"><%= @don.donneur_name %></span>, <%= @don.donateur_type %>, donne : <span class="don-matiere"><%= @don.type_matiere_orga %></span>
          <% if  @don.date_fin_dispo.future? %>
            <span>à l'adresse </span><span class="don-adresse"><%= @don.donneur_address %></span>
          <% end %>
        <span>.</span></p>
        <p class="description-don">"<%= @don.description %>"</p>
        <% if @don.pourvu %>
          <p class="don-pourvu">Ce don est déjà pourvu..</p>
        <% elsif @don.date_fin_dispo.past? %>
          <p class="don-depasse">Date limite dépassée..</p>
        <% else %>
          <p>Il reste <span class="don-non-pourvu"><%= distance_of_time_in_words(Time.now, @don.date_fin_dispo) %></span> pour récupérer le don !</p>
          <%= mail_to "#", "Lui écrire !", subject: "Je suis interessé•e par votre don !" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
