<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Poubelles Battle</title>
    <%= favicon_link_tag 'favicon-32x32.png' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="ddf26821-c2a7-4929-89da-73f197268d7b";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <!-- <div id="beta-gouv-alert" class="alert alert-info" role="alert">
    ⚠️ Cette application est en cours de développement selon une approche incrémentale des startups d'état <%#= link_to 'beta.gouv.fr', "https://beta.gouv.fr/apropos/" %>
    🕵🏽 Vous avez des suggestions, des propositions d'améliorations, des questions ? N'hésitez pas à nous le faire savoir : poubelles-battle@beta.gouv.fr.
    </div> -->
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
